<div class="container text-center">
  <h2><%= "Alpha Articles" %></h2>
</div>
<div class="flickr_pagination mt-3">
  <%= will_paginate @article, :container => false %>
</div>
<%= render "articles",obj: @article %>