<div class="container text-center my-3">
  <h2 class="font-weight-bold"><%= "Alpha Articles" %></h2>
</div>
<div class="flickr_pagination mt-3">
  <%= will_paginate @article, :container => false %>
</div>
<%= render "articles",obj: @article %>