<footer class="page-footer font-small blue bg-dark text-white mt-auto">

  <div class="footer-copyright text-center py-3">© 2024 Copyright:
    <a class="text-white" href="/"> alpha-blog</a>
  </div>

</footer>