  <div class="container mt-1">
    <% flash.each do |msg| %>
      <% if msg[0] == "notice" %>
      <div class="alert alert-success alert-dismissible d-flex justify-content-left">
        <strong class="w-100"><%= msg[1]%></strong>
      <div class="close btn btn-success" data-bs-dismiss="alert" aria-label="close">&times;</div>
      <%else%>
      <div class="alert alert-danger alert-dismissible d-flex justify-content-left">
        <strong class="w-100"><%= msg[1]%></strong>
      <div class="close btn btn-danger" data-bs-dismiss="alert" aria-label="close">&times;</div>
      <%end%>
    </div>
    <%end%>
  </div>