
<h2>welcome to our blog application</h2>
<p>Thanks for signing up with us</p>
<p>Your details that our database has : </p>
<p>Name : <%=@user.first_name%> <%=@user.last_name %></p>
<p>Email : <%=@user.email%></p>
<p>password is encrypted in our database for security reasons</p>