<div class="container text-center">
  <h2><%= "Alpha Bloggers" %></h2>
</div>
<div class="flickr_pagination mt-3">
  <%= will_paginate @user, :container => false %>
</div>
<%= render "articles/articles",obj: @user %>