<div class="container text-center my-3">
  <h2 class="font-weight-bold">bloggers</h2>
</div>
<div class="flickr_pagination mt-3">
  <%= will_paginate @user, :container => false %>
</div>
<%= render "articles/articles",obj: @user %>