<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">Ticker</th>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Last Price</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tracked_stocks.each do |stock| %>
    <tr>
      <th scope="row" class="text-center"><%= stock.ticker %></th>
      <td class="text-center"><%= stock.name %></td>
      <td class="text-center"><%= stock.last_price %></td>
      <td class="text-center"><%= link_to "Untrack",user_stock_path(stock),class:"btn btn-danger"%></td>
    </tr>
    <%end%>
  </tbody>
</table>