<div class="ui inverted large menu">
  <a class="item">
    Chatrooms
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="item">
        <% if current_user %>
          <% if logined_user %>
            <%= button_to 'Log out',logout_path,method: :delete,class: 'ui primary button' %>
          <%end%>
        <%else%>
          <%= link_to 'Log in',login_path,class: 'ui primary button' %>
        <%end%>
    </div>
  </div>
</div>