.errors{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:20px;
  width:100%;
}
.error-block{
  padding:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width:80%;
  min-height:40px;
}
.signup-errors{
  color:red;
  position:absolute;
  top:0px;
  width:100%;
  left:0px;
  background-color: white;
}
.notice{
  color:green;
}
.alert{
  color:red;
}
