.blog-form{
  display:flex;
  margin-top:40px;
  justify-content: center;
}
.blog-content{
  width:70%;
}
.blog-content h2{
  text-align: center;
}
.blog-item{
  margin-top:10px;
  margin-bottom:5px;
}
.blog-fields{
  margin-top:20px;
}
.blog-input-field{
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  border:none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left:15px;
  font-size: 15px;
}
.blog-form-btn{
  background-color: blue;
  color:white !important;
  font-weight: 900;
  font-size: 20px;
  padding-left:0px;
}
.blog-form-area{
  height:200px;
}
.blog-cursor{
  cursor: pointer;
  outline:none;
  font-weight: 600;
  color:black;
}
.blog-new-edit{
  text-align: center;
  margin-top:20px;
  font-family: cursive;
}