.blog-form{
  display:flex;
  margin-top:40px;
  justify-content: center;
}
.blog-content{
  width:70%;
}
.blog-content h2{
  text-align: center;
}
.blog-item{
  margin-top:10px;
  margin-bottom:5px;
}
.blog-fields{
  margin-top:20px;
}
.blog-input-field{
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  border:none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left:15px;
  font-size: 15px;
}
.blog-form-btn{
  font-size: 20px;
  padding-left:0px;
}
.blog-form-area{
  height:200px;
}
.blog-cursor{
  cursor: pointer;
  outline:none;
  font-weight: 600;
  color:black;
}
.blog-new-edit{
  text-align: center;
  margin-top:20px;
  font-family: cursive;
}
.blog-file{
  color:black;
  font-weight: 700;
}
input::file-selector-button{
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  border:none;
  background-image: linear-gradient(to bottom right,red,yellow);
}
input::file-selector-button:hover{
  background-color: white;
  color:black;
  font-weight: 900;
  background-image: linear-gradient(to bottom right,rgb(8, 55, 112),rgb(255, 24, 170));
}
.blog-edit{
  background-color: yellow;
}
.blog-create{
  background-color: green;
}