.show-container{
  margin-left:20px;
  margin-right:20px;
}
.show-img{
  width:50%;
  height:50%;
}
.show-title,.show-desc,.show-links{
  margin-top:10px;
  margin-bottom:10px;
}
.show-title{
  font-size: 30px;
}
.show h1{
  text-align: center;
  margin-top: 10px;
}
.show span{
  font-style: italic;
}
.show-span1{
  margin-right:5px;
  font-weight: 100;
}
.show-span2{
  font-weight: 700;
}
.show-image{
  display:flex;
  justify-content: center;
}
.show-desc{
  margin-bottom:30px;
}
.show-link{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  margin-top:20px;
  margin-bottom:20px;
}
.show-edit{
  background-color: yellow;
  text-decoration: none;
  color:black;
  font-weight: 900;
  border-radius: 5px;
}
.show-remove{
  border:none;
  color:black;
  background-color: red;
  font-weight: 600;
  border-radius: 5px;
}